* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
  padding-top: 2px;
  border-radius: 2px;
}

.design-image {
  max-width: 100px;
}

.OrderApp {
  width: 100%;
  max-width: 960px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: #fcfcfc;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 26px rgba(0, 0, 0, .13);
  box-shadow: 0 0 26px rgba(0, 0, 0, .13);
}

.nav-tabs{
  margin-bottom:15px;
}

/* Canvas */
#main-canvas{
  margin-top: 40px;
  background: #ccc;
  background: url('../../images/bg-canvas.png');
  background-repeat: repeat;
  border:1px solid #ececec;
  display: flex;

}

.main {
    padding: 1em 2em 2em 2em;
}

.main-canvas-container {
  max-width: 400px;
}

